<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <meta name="author" content="Jose Manuel Martinez Fernandez">
    <meta name="description" content="Tu carrito de la compra">
    <meta name="keywords" content="V-Bucks, Fortnite, API, Proyecto-Final-Trimestre---Tienda-On-line">
</head>

<body>
    <!-- HEADER -->
    <header>
        <a href="../views/shop.html">Inicio</a>
        <a href="#">Mi carrito</a>

        <div id="logout"><a href="../index.html">Salir</a></div>
    </header>
    <!-- HEADER -->

    <!-- MAIN -->
    <main class="container">
        <section class="products">

        </section>

        <section class="buttons">
            <button class="buttons__button--buy">Comprar</button>
            <p id="total">0 V-Bucks</p>
            <button class="buttons__button--clear">Vaciar carrito</button>
        </section>
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <footer>
        <p>&copy; José Manuel Martínez Fernández 2024-25</p>
    </footer>
    <!-- FOOTER -->

    <script type="module" src="../js/cart.js"></script>
</body>

</html>