<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortnite-Shop</title>
    <link rel="stylesheet" href="../css/shop.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <meta name="author" content="Jose Manuel Martinez Fernandez">
    <meta name="description" content="Tienda actual de Fortnite">
    <meta name="keywords" content="V-Bucks, Fortnite, API, Proyecto-Final-Trimestre---Tienda-On-line">
</head>

<body>
    <!-- HEADER -->
    <header>
        <a href="#">Inicio</a>
        <a href="../views/cart.html">Mi carrito</a>

        <div id="logout"><a href="../index.html">Salir</a></div>
    </header>
    <!-- HEADER -->

    <!-- MAIN -->
    <main class="container">
        <input type="text" id="categoria" placeholder="Busca tu categoría preferida">
        <button id="submitFilter">Filtrar</button>

        <select id="order">
            <option value="Ascendente">Ascendente</option>
            <option value="Descendente">Descendente</option>
        </select>
        <button id="submitSort">Ordenar</button>

        <section class="products">

        </section>

        <section class="pagination">
            <button id="next">Siguiente</button>
            <p id="pageOfPages"></p>
            <button id="previous">Anterior</button>
        </section>
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <footer>
        <p>&copy; José Manuel Martínez Fernández 2024-25</p>
    </footer>
    <!-- FOOTER -->

    <script type="module" src="../js/index.js"></script>
</body>
</html>