<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortnite-Shop</title>
    <link rel="stylesheet" href="../src/css/shop.css">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <meta name="author" content="Jose Manuel Martinez Fernandez">
    <meta name="description" content="Tienda actual de Fortnite">
    <meta name="keywords" content="V-Bucks, Fortnite, API, Proyecto-Final-Trimestre---Tienda-On-line">
</head>

<body>
    <header>

    </header>

    <main class="container">

    </main>

    <footer>
        
    </footer>
</body>
</html>